html {
    height: 100% !important;
}

body {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
}

.footer-mati {
    width: 100px;
    height: 8.5%;
    margin-top: 5rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    bottom: 0 !important;
    padding: 2.2em;
}

.box-mati {
    --webkit-box-shadow: 0px -2px 19px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -2px 19px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -2px 19px 7px rgba(0, 0, 0, 0.75);
}

.c-white {
    color: white;
}

.bg-bordo {
    background-color: #540b0e;
}

.flecha {
    margin-left: 1rem;
}

.card-mati {
    padding: 0.5rem;
    margin-top: 1.5rem;
}

.font-mati {
    font-size: 0.9rem;
}

.hr-contenidos {
    border: 1px solid #540b0e;
    padding: 0.1rem;
    background-color: #540b0e;
    border-radius: 50px;
}

.hr-contenido {
    border: 1px solid #540b0e;
}

.navbar-mati {
    background-color: #540b0e;
}

.rayitas {
    color: white;
}

.rayitas:hover {
    color: grey;
}

.cerrar {
    color: white;
}

.cerrar:hover {
    color: grey;
}

.font-bebas {
    color: #540b0e;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.texto-buscar {
    font-size: 2rem;
}

.span-buscador {
    color: #f77f00;
}

.logo-cua {
    font-size: 2.5rem !important;
}

.texto-contenidos {
    color: #540b0e;
    font-size: 1.3rem;
}

@media(max-width: 768px) {
    .titulo-historia {
        font-size: 2rem !important;
    }
    .titulo-escuela {
        font-size: 2rem !important;
    }
    .titulo-partido {
        font-size: 1rem !important;
    }
    .titulo-novedades {
        font-size: 2rem !important;
    }
    .texto-novedades {
        font-size: 1rem !important;
    }
    .titulo-administracion {
        font-size: 1.2rem !important;
    }
    .texto-administracion {
        font-size: 1rem !important;
    }
    .titulo-contactanos {
        font-size: 1.5rem !important;
    }
    .email-contactanos {
        font-size: 1rem !important;
    }
    .span-contactanos {
        font-size: 0.6rem !important;
    }
    .telefono-contactanos {
        font-size: 1rem !important;
    }
    .titulo-ubicacion {
        font-size: 1.5rem !important;
        margin-bottom: 1rem !important;
    }
    .titulo-contenidos {
        font-size: 1.3rem !important;
    }
    .texto-contenidos {
        font-size: 1rem !important;
    }
    .titulo-buscar {
        font-size: 1rem !important;
    }
}

.mensaje-if {
    font-size: 2rem !important;
    color: #540b0e;
}

@media(max-width: 768px) {
    .mensaje-if {
        font-size: 1rem !important;
        margin: 0 auto;
    }
}

.cantidad-contenido {
    border: 1px solid white;
    border-radius: 60px;
    color: white;
    margin-left: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.materia-hover {
    transition: .3s ease-in;
}

.materia-hover:hover {
    color: gray !important;
}

.boton-drop {
    background-color: #9e2a2b;
}

.link-materia {
    color: black;
}

.link-materia:hover {
    text-decoration: none;
    color: #540b0e;
}

.contenedor-materia {
    text-align: center;
    align-items: center;
    transition: .3s ease-in-out;
}


.contenedor-materia:hover {
    background-color: #e5e5e5;
    padding: 1rem;
}

.lista-des {
    list-style: none;
}


.li-des {
    color: white;
}

.header_novedad {
    margin: 20px;
    padding: 5px;
    background-color: #ffb703;
}

.span-biblioteca {
    font-weight: bold;
}

.contenedor-mapa {
    width: 100%;
}

/* desktop first empezar en el MQ mas grande */
@media screen and (max-width: 1024px) {
    .container {
      padding: 0 1em;
    }

    h1{
      font-size: 2em;
      z-index: 2;
    }
  }

@media screen and (max-width: 766px) {
    .footer-mati {
        display: block;
        flex-direction: column;
    }

    .m-copyright {
        justify-content: center;
        font-size: 0.75rem;
    }

    .lista-des {
        margin: 0 auto;
        margin-bottom: 1rem;

    }

    .li-des {
        font-size: 0.75rem;
    }

}


