.footer-mati {
    width: 100%;
    margin-top: 5rem;
}

.box-mati {
    --webkit-box-shadow: 0px -2px 19px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 19px 7px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 19px 7px rgba(0,0,0,0.75);
}

.bg-bordo {
    background-color: #540b0e;
}

.flecha {
    margin-left: 1rem;
}


.card-mati {
    padding: 0.5rem;
    margin-top: 1.5rem;
}

.font-mati {
    font-size: 0.9rem;
}

.hr-contenidos {
    border: 1px solid #540b0e;
    padding: 0.1rem;
    background-color: #540b0e;
    border-radius: 50px;
}

.hr-contenido {
    border: 1px solid #540b0e;
}

.navbar-mati {
    background-color: #540b0e;
}

.rayitas {
    color: white;
}

.rayitas:hover{
    color: grey;
}

.cerrar {
    color: white;
}

.cerrar:hover{
    color: grey;
}
